#drag-region {
    height: 270px;
    border: 1px solid #BACAD6;
    text-align: center;
    line-height: 270px;
    font-size: 30px;
    color: #BACAD6;
    border-radius: 12px;
    cursor: pointer;
}

.drag-enter {
    border: 1px solid var(--primary) !important;
}

.weiwait-img {
    border: 1px solid #d0d2d1;
    border-radius: 4%;
    max-width: 320px;
}

.cropper-container {
    width: 100%;
    max-height: 360px !important;
}

#weiwait-modal {
    width: 640px;
    height: 420px;
    background-color: #ffffff;
    position: fixed;
    top: 25%;
    left: 38%;
    box-shadow: 12px 12px 80px -12px;
    .footer {
        height: 60px;
        line-height: 60px;
        padding-left: .5rem;
    }
}

.img-preview {
    max-width: 270px;
    cursor: pointer;
}
.weiwait-img {
    max-width: 270px;
    border: 1px solid #BACAD6;
    padding: 4px;
    border-radius: 4%;
}
